### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store


## problems ##
src/linkedList/medium/InterSectTwoLLBrute.java
src/linkedList/medium/IntersectTwoLLOptimal.java
src/Array/binarySearch/InsertPos1.java
src/linkedList/easy/InsertAtDLLOpt.java
src/linkedList/medium/Add1ToLLOptimal.java
src/linkedList/medium/Add1toLLBrute.java
src/linkedList/medium/AddTwoNumOptimal.java
 src/string/easy/ReverseWordInstrOpt.java



